// The unbranded stylesheet is used if you need to create pages in your
// prototype without the GOV.UK branding.
//
// See localhost:3000/docs/templates/blank-unbranded

// Import settings first so we can override them before importing all of GOV.UK Frontend
// If you need to enable compatibility mode or the legacy palette, do that *before* this import.
@import "node_modules/govuk-frontend/govuk/settings/all";

// Override the default GOV.UK Frontend font stack
$govuk-font-family: "HelveticaNeue", "Helvetica Neue", "Arial", "Helvetica", sans-serif;

// Override the canvas background colour, which is normally grey to blend with the GOV.UK footer.
$govuk-canvas-background-colour: $govuk-body-background-colour;

@import "application";

body, html {padding:0;margin:0;
height:100%;}
.govuk-header__container{
  border-bottom:0px;
margin:0;
height:60px;padding:8px

}
.govuk-width-container{
  max-width:100%;
  clear:both;
  overflow:auto;
}
.govuk-main-wrapper {
  padding:0
}
.header-global {
  background:black;
  color:white;
  font-family:Arial;
  padding:24px;
}
.search {float:right;margin:4px 0 0 0;width:690px;padding:0 0 4px 0;}
.inputfloat {float:left;}
.search-button {float:left;}
.govuk-button{margin-bottom:0}
.login {float:right;margin-top:-20px;display:block}
.clearfix{
    clear:both;
}
.outcome {padding:24px}
.internal-banner {
	background: #f8f8f8;
  padding:2px 0;
	border-bottom: 1px solid #ddd;
  height:48px;

	.bread {
    float:left;
  padding-left:24px;

		li {
			display: inline-block;
			font-size: 15px;
			color: #71767C;
			&:before {
				content: "/";
				padding: 10px;
				color: #ccc;
			}
			&:first-child {
				&:before {
					content: "";
					padding: 0;
				}
			}
			a {
				color: #005ea5;
			}
		}
	}

}
.title {padding:24px;}
.internal-wrapper {
  width:100%;
  background-color: white;

}
.govuk-footer{padding: 0 24px}
.float{float:left;}
.message {display:inline;float:right}
td.absence {background-color:#f3f2f1;}
.assigned {display:inline-block}

.application-summary{
  margin:0 0 24px 0;
  display:block;
  border-bottom:1px solid #ddd;
  padding:0;
  width:100%;
}
.application-details, .work-history{
  margin-bottom:24px;
}
.govuk-heading-l {margin-bottom:4px}
.no-column{
  padding:24px;
}
hr {
  border:1px solid #ddd;
}
.column-left {
  float: left;
  width: 15%;
  padding:10px 24px;

}
.column-main {
  float: right;
  padding:16px;
  width: 80%;
}
.column-main-left {
  padding: 1% ;
  float: left;
  width:78%;
}

.column-right {
  float: right;
  width: 18%;
  padding:1%;
  margin:0;
  background:#efefee;
  text-align:left;
  height:100vh;

}
.column-main-left2 {
 margin:0;
  float: left;
  width:50%;
}
.column-right2 {
  float: right;
  width: 50%;
  margin::0 0 0 0;
  display:table-cell;
    vertical-align:bottom;

}
.app-custom-class {
  background-color:#efefee
}

.govuk-table__header, .govuk-table__cell{
  border: 1px solid #e7e7e7;padding:1rem
}
.govuk-table__caption,.govuk-fieldset__heading {margin-bottom:24px}

table.framed td {
  border: 1px solid #e7e7e7;
  text-align: left;
}

.history-block{
  background-color:#ffffff;
  width:90%;
 text-align:left;
 padding:16px;

  margin:16px auto;

}
.govuk-textarea{
  text-align:left
}
.govuk-form-group {margin-bottom:24px}
