{% extends "layout_appeal.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}
<div class="internal-banner">
<ul class="bread">
  <li><a href="home.html">Home</a></li>
  <li><a href="GHI1234567.html">GHI1234567</a></li>

</ul>
</div>

<div class="internal-wrapper">

  <div class="column-main-left">

      <div class="application-summary float">
          <div class="column-main-left2">
            <h1 class="govuk-heading-l"> <span class="govuk-caption-l">Ian Reid</span>
              GHI1234567</h1>
                  <strong class="govuk-tag govuk-tag--red">Approved after appeal</strong>
                    <p class="assigned">Assigned to me (OTC appeal case worker) </p>
          </div>
          <div class="column-right2">
            <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        This appeal has been approved on 12/08/2021  at 09:00am.
      </strong>
      <br>

    </div>
  </div>
     </div>

  <div class="application-details">
    <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Applicant's details</caption>
    <tbody class="govuk-table__body">
      <tr class="invisible">
        <th scope="col" colspan="2"class=" govuk-!-width-one-third"> </th>
        <th scope="col" colspan="2"class=" govuk-!-width-one-third"> </th>
        <th scope="col" colspan="2"class="  govuk-!-width-one-third"> </th>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell muted">Name: </td>
        <td class="govuk-table__cell"><b>Ian Reid</b> </td>
        <td class="govuk-table__cell muted">Date of birth: </td>
        <td class="govuk-table__cell"><b>28/03/1976</b> </td>
        <td class="govuk-table__cell muted">Place of birth: </td>
        <td class="govuk-table__cell"><b>Birmingham</b> </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell muted">Address: </td>
        <td class="govuk-table__cell"><b>12 Haydn Road</br> NG3 2ED Nottingham, UK</b> </td>
        <td class="govuk-table__cell muted">Email address: </td>
        <td class="govuk-table__cell"><b>reidian@gmail.com</b> </td>
        <td class="govuk-table__cell muted">Phone number: </td>
        <td class="govuk-table__cell"><b>07 324324345</b> </td>
      </tr>
    </tbody>
  </table>
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Work history</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header app-custom-class">Period</th>
        <th scope="col" class="govuk-table__header app-custom-class">Job</th>
        <th scope="col" class="govuk-table__header app-custom-class">Company</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"> Apr 2019  to Sept 2021</td>
        <td class="govuk-table__cell"><strong>Delivery Hub Logistics Administrator</strong><br>Current role</td>
        <td class="govuk-table__cell"><strong>DHL</strong><br> 14, Derby Road<br> NG7 3ER Nottingham</td>
      </tr>
      <tr class="govuk-table__row ">
          <td class="govuk-table__cell absence"> Jan 2017 to Mar 2019 </td>
        <td class="govuk-table__cell absence"><strong>Break in work history</strong><br> Parental leave</td>
        <td class="govuk-table__cell absence"><strong> </strong><br></td>
      </tr>
      <tr class="govuk-table__row">
          <td class="govuk-table__cell"> Apr 2012 to Dec 2016 </td>
        <td class="govuk-table__cell"><strong>Delivery Team Leader</strong></td>
        <td class="govuk-table__cell"><strong>Tesco</strong><br> Hornchurch Rd, <br>  Hornchurch RM12 4TE, United Kingdom</td>
      </tr>
      <tr class="govuk-table__row">
          <td class="govuk-table__cell">Mar 2013 to Apr 2012 </td>
        <td class="govuk-table__cell"><strong>Delivery Driver</strong></td>
        <td class="govuk-table__cell"><strong>Flow Logistic</strong><br> 14, Derby Road<br> Leicester</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"> Mar 2012 to Mar 2013 </td>
        <td class="govuk-table__cell"><strong>NHS care Home same Day Courier</strong></td>
        <td class="govuk-table__cell"><strong>Rico Logistics Ltd</strong><br> Office 1, The Barn, Bridge Farm, Holt Ln, <br> Lutterworth LE17 5NJ, United Kingdom</td>
      </tr>
      <tr class="govuk-table__row">
          <td class="govuk-table__cell absence"> Jan 2011 to Mar 2012 </td>
          <td class="govuk-table__cell absence"><strong>Break in work history</strong><br> I was unemployed due to personal circumstances</td>
          <td class="govuk-table__cell absence"><strong> </strong><br></td>
      </tr>
      <tr class="govuk-table__row">
          <td class="govuk-table__cell"> Jan 2010 to Dec 2010 </td>
        <td class="govuk-table__cell"><strong>Customer Service Delivery Driver</strong></td>
        <td class="govuk-table__cell"><strong>JCB Logistics Limited</strong><br>
      CH5 2R,   Deeside </td>
      </tr>
      </tbody>
  </table>
  </div>


  </div>
</div>
  <div class="column-right">
    <table class="govuk-table">

        <div class="history-block">
        <p class="govuk-body-s">  07/07/2021 at 10:00 by Lauren Hall</p>
        <p> <strong>Outcome:</strong> The application was declined.
          </p>
          <p> <strong>Reason:</strong> Unexplained history breaks
            </p>
            <p> <strong>Notice to candidate:</strong>
              There were too many unexplained history breaks in your application.
              </p>
        </div>
        <div class="history-block">
        <p class="govuk-body-s">  07/07/2021 by Lauren Hall</p>
        <p>  All good
          </p>
        </div>
        <div class="history-block">
        <p class="govuk-body-s">  07/07/2021 </p>
        <p>   Application was submitted</p>
          </p>
        </div>

    </table>

</div>

{% endblock %}
