{% extends "layout_appeal.html" %}
{% block pageTitle %}
  Question page
{% endblock %}

{% block content %}
<div class="internal-banner">
<ul class="bread">
  <li><a href="home.html">Home</a></li>
  <li><a href="application_details.html">GHI1234567</a></li>

</ul>
</div>

<div class="internal-wrapper">
<div class="column-main-left">
  <div class="application-summary">
    <h1 class="govuk-heading-l"> <span class="govuk-caption-l">Ian Reid</span>
      GHI1234567</h1>
              <strong class="govuk-tag govuk-tag--purple">Under Appeal</strong>&nbsp;<span>
                <p class="assigned">Assigned to me (OTC appeal case worker)</p></span>

  </div>
  <div class="application-details">
    <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Applicant's details</caption>
    <tbody class="govuk-table__body">
      <tr class="invisible">
        <th scope="col" colspan="2"class=" govuk-!-width-one-third"> </th>
        <th scope="col" colspan="2"class=" govuk-!-width-one-third"> </th>
        <th scope="col" colspan="2"class="  govuk-!-width-one-third"> </th>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell muted">Name: </td>
        <td class="govuk-table__cell"><b>Ian Reid</b> </td>
        <td class="govuk-table__cell muted">Date of birth: </td>
        <td class="govuk-table__cell"><b>28/03/1976</b> </td>
        <td class="govuk-table__cell muted">Place of birth: </td>
        <td class="govuk-table__cell"><b>Birmingham</b> </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell muted">Address: </td>
        <td class="govuk-table__cell"><b>12 Haydn Road</br> NG3 2ED Nottingham, UK</b> </td>
        <td class="govuk-table__cell muted">Email address: </td>
        <td class="govuk-table__cell"><b>reidian@gmail.com</b> </td>
        <td class="govuk-table__cell muted">Phone number: </td>
        <td class="govuk-table__cell"><b>07 324324345</b> </td>
      </tr>
    </tbody>
  </table>
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Work history</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header app-custom-class">Period</th>
        <th scope="col" class="govuk-table__header app-custom-class">Job</th>
        <th scope="col" class="govuk-table__header app-custom-class">Company</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"> Apr 2019  to Sept 2021</td>
        <td class="govuk-table__cell"><strong>Delivery Hub Logistics Administrator</strong><br>Current role</td>
        <td class="govuk-table__cell"><strong>DHL</strong><br> 14, Derby Road<br> NG7 3ER Nottingham</td>
      </tr>
      <tr class="govuk-table__row ">
          <td class="govuk-table__cell absence"> Jan 2017 to Mar 2019 </td>
        <td class="govuk-table__cell absence"><strong>Break in work history</strong><br> Parental leave</td>
        <td class="govuk-table__cell absence"><strong> </strong><br></td>
      </tr>
      <tr class="govuk-table__row">
          <td class="govuk-table__cell"> Apr 2012 to Dec 2016 </td>
        <td class="govuk-table__cell"><strong>Delivery Team Leader</strong></td>
        <td class="govuk-table__cell"><strong>Tesco</strong><br> Hornchurch Rd, <br>  Hornchurch RM12 4TE, United Kingdom</td>
      </tr>
      <tr class="govuk-table__row">
          <td class="govuk-table__cell">Mar 2013 to Apr 2012 </td>
        <td class="govuk-table__cell"><strong>Delivery Driver</strong></td>
        <td class="govuk-table__cell"><strong>Flow Logistic</strong><br> 14, Derby Road<br> Leicester</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"> Mar 2012 to Mar 2013 </td>
        <td class="govuk-table__cell"><strong>NHS care Home same Day Courier</strong></td>
        <td class="govuk-table__cell"><strong>Rico Logistics Ltd</strong><br> Office 1, The Barn, Bridge Farm, Holt Ln, <br> Lutterworth LE17 5NJ, United Kingdom</td>
      </tr>
      <tr class="govuk-table__row">
          <td class="govuk-table__cell absence"> Jan 2011 to Mar 2012 </td>
          <td class="govuk-table__cell absence"><strong>Break in work history</strong><br> I was unemployed due to personal circumstances</td>
          <td class="govuk-table__cell absence"><strong> </strong><br></td>
      </tr>
      <tr class="govuk-table__row">
          <td class="govuk-table__cell"> Jan 2010 to Dec 2010 </td>
        <td class="govuk-table__cell"><strong>Customer Service Delivery Driver</strong></td>
        <td class="govuk-table__cell"><strong>JCB Logistics Limited</strong><br>
      CH5 2R,   Deeside </td>
      </tr>
      </tbody>
  </table>
  </div>


  <form id="data-form" action="/appeal" method="post" novalidate>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
         Decision outcome
        </h1>
      </legend>
      <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input data-url="approved" class="govuk-radios__input" id="contact" name="answer" type="radio" value="approved" data-aria-controls="conditional-contact">
          <label class="govuk-label govuk-radios__label" for="contact">
            Approve application
          </label>
        </div>
        <div class="govuk-radios__item">
          <input data-url="declined" class="govuk-radios__input" id="contact-2" name="answer" type="radio" value="declined" data-aria-controls="conditional-contact-2">
          <label class="govuk-label govuk-radios__label" for="contact-2">
            Decline application
          </label>
        </div>
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
          <div class="govuk-form-group">
            <label class="govuk-label" for="contact-by-phone">
              Provide a reason
            </label>
            <div class="govuk-form-group">
              <select class="govuk-select" id="sort" name="sort">
                  <option value="">Select</option>
                  <option value="reason1">Work history contains unexplained gaps</option>
<option value="reason2">Work History does not include sufficient detail of responsibilities</option>
<option value="reason3">Work History does not meet the required levels of experience</option>
<option value="reason4">Determined through appeals process</option>
              </select>
            </div>
            <br>
            <p>Add feedback for the applicant</p>
                      <textarea class="govuk-textarea govuk-!-width-one-half" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint">
Enter text here</textarea>
        </div>
      </div>

    </fieldset>
    <p><button class="govuk-button" data-module="govuk-button">
      Submit
    </button>
    </p>
  </div>
  </form>
</div>

  <div class="column-right">
    <h3 class="govuk-heading-m">Application history</h3>
    <div class="govuk-form-group">
      <h2 class="govuk-heading-m">Notes</h3>
                <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint">The outcome was changed to accepted after clarification of gaps in work history</textarea>
                <a href="appeal_note02.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
            Save
                </a>&nbsp;&nbsp;&nbsp;
                <a href="application_details01.html" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Cancel
                </a>


    </div>
    <table class="govuk-table">

        <div class="history-block">
        <p class="govuk-body-s">  01/09/2021 by Lauren Hall</p>
        <p>  The application was put under appeal
          </p>
        </div>
        <div class="history-block">
        <p class="govuk-body-s">  07/07/2021 at 10:00 by Lauren Hall</p>
        <p> <strong>Outcome:</strong> The application was declined.
          </p>
          <p> <strong>Reason:</strong> Unexplained history breaks
            </p>
            <p> <strong>Notice to candidate:</strong>
              There were too many unexplained history breaks in your application.
              </p>
        </div>

          <div class="history-block">
          <p class="govuk-body-s">  07/07/2021 </p>
          <p>   Application was submitted</p>
            </p>
          </div>

      </table>


</div>

{% endblock %}
