{% extends "layout_custom.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}
<div class="internal-banner">
<ul class="bread">
 <li><a href="#">Home</a></li>
</ul>
</div>

<div class="internal-wrapper">

  <div class="column-main-left">

      <div class="application-summary">
          <div class="column-main-left">
            <h1 class="govuk-heading-l"> <span class="govuk-caption-l">Ian Reid</span>
              <h1 class="govuk-heading-m">ABCDE123456</h1>
                  <strong class="govuk-tag govuk-tag--red">Declined</strong>
          </div>
          <div class="column-right2">

            <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        This application has been declined on 12/08/2021  at 09:00am
      </strong>
      <br>
      <a href="application_details02a.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      Re-open for appeal
      </a>
    </div>
  </div>
     </div>

  <div class="application-details">
    <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Applicant's details</caption>
    <tbody class="govuk-table__body">
      <tr class="invisible">
        <th scope="col" colspan="2"class=" govuk-!-width-one-third"> </th>
        <th scope="col" colspan="2"class=" govuk-!-width-one-third"> </th>
        <th scope="col" colspan="2"class="  govuk-!-width-one-third"> </th>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell muted">Name: </td>
        <td class="govuk-table__cell"><b>Ian Reid</b> </td>
        <td class="govuk-table__cell muted">Date of birth: </td>
        <td class="govuk-table__cell"><b>28/03/1976</b> </td>
        <td class="govuk-table__cell muted">Place of birth: </td>
        <td class="govuk-table__cell"><b>Birmingham</b> </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell muted">Address: </td>
        <td class="govuk-table__cell"><b>12 Haydn Road</br> NG3 2ED Nottingham, UK</b> </td>
        <td class="govuk-table__cell muted">Email address: </td>
        <td class="govuk-table__cell"><b>reidian@gmail.com</b> </td>
        <td class="govuk-table__cell muted">Phone number: </td>
        <td class="govuk-table__cell"><b>07 324324345</b> </td>
      </tr>
    </tbody>
  </table>
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Work history</caption>
       <thead class="govuk-table__head">
      <tr class="">
        <th scope="col" class="govuk-table__header govuk-!-width-one-third">Period</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-third">Job</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-third">Company</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><strong>Apr 2019  to Sept 2019</td>
        <td class="govuk-table__cell"><strong>Courier Delivery Driver</strong></td>
        <td class="govuk-table__cell"><strong>DHL</strong><br> 14, Derby Road, NG7 3ER Nottingham</td>
      </tr>
      <tr class="govuk-table__row ">
          <td class="govuk-table__cell absence"><strong>Jan 2017 to March 2019</strong></td>
        <td class="govuk-table__cell absence"><strong>Break in work history</strong><br> Parental leave</td>
        <td class="govuk-table__cell absence"><strong> </strong><br></td>
      </tr>
      <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>Apr 2012 to Dec 2016</strong></td>
        <td class="govuk-table__cell"><strong>Courier Delivery Driver</strong></td>
        <td class="govuk-table__cell"><strong>Tesco</strong><br> 14, Derby Road, NG7 3ER Nottingham</td>
      </tr>
      <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>Apr 2012 to Dec 2016</strong></td>
        <td class="govuk-table__cell"><strong>Courier Delivery Driver</strong></td>
        <td class="govuk-table__cell"><strong>DHL</strong><br> 14, Derby Road, NG7 3ER Nottingham</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><strong>Jan 2012 to March 2013</strong></td>
        <td class="govuk-table__cell"><strong>Courier Delivery Driver</strong></td>
        <td class="govuk-table__cell"><strong>DHL</strong><br> 14, Derby Road, NG7 3ER Nottingham</td>
      </tr>
      <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>Jan 2011 to March 2012</strong></td>
        <td class="govuk-table__cell"><strong>Courier Delivery Driver</strong></td>
        <td class="govuk-table__cell"><strong>DHL</strong><br> 14, Derby Road, NG7 3ER Nottingham</td>
      </tr>
      <tr class="govuk-table__row">
          <td class="govuk-table__cell"><strong>Jan 2010 to March 2011</strong></td>
        <td class="govuk-table__cell"><strong>Courier Delivery Driver</strong></td>
        <td class="govuk-table__cell"><strong>DHL</strong><br> 14, Derby Road, NG7 3ER Nottingham</td>
      </tr>
      </tbody>
  </table>
  </div>


  </div>
</div>
  <div class="column-right">
    <table class="govuk-table">

        <div class="history-block">
        <p class="govuk-caption-s">  07/07/2021 by Lauren Hall</p>
        <p>  The application was approved
          </p>
        </div>
        <div class="history-block">
        <p class="govuk-caption-s">  07/07/2021 by Lauren Hall</p>
        <p>  All good
          </p>
        </div>
        <div class="history-block">
        <p class="govuk-caption-xs">  07/07/2021 </p>
        <p>   Application was submitted</p>
          </p>
        </div>

    </table>

</div>

{% endblock %}
