{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}


{% block content %}
<div class="internal-banner">
<ul class="bread">
 <li><a href="home.html">Home</a></li>
</ul>
</div>

<div class="internal-wrapper">

<div class="column-main-left">
    <div class="application-summary float">
            <div class="column-main-left2">
                <h1 class="govuk-heading-l"> <span class="govuk-caption-l">Lula Brock</span>
            HJK1234567</h1>
              <p> Assigned to me  <strong class="govuk-tag govuk-tag--yellow">Under Consideration</strong></p>

            </div>




   </div>

  <div class="application-details">
    <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Applicant's details</caption>
    <tbody class="govuk-table__body">
      <tr class="invisible">
        <th scope="col" colspan="2"class=" govuk-!-width-one-third"> </th>
        <th scope="col" colspan="2"class=" govuk-!-width-one-third"> </th>
        <th scope="col" colspan="2"class="  govuk-!-width-one-third"> </th>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell muted">Name: </td>
        <td class="govuk-table__cell"><b>Lula Brock</b> </td>
        <td class="govuk-table__cell muted">Date of birth: </td>
        <td class="govuk-table__cell"><b>12/02/1985</b> </td>
        <td class="govuk-table__cell muted">Place of birth: </td>
        <td class="govuk-table__cell"><b>London</b> </td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell muted">Address: </td>
        <td class="govuk-table__cell"><b>Flat 3 <br> UpHill Estate 24, Bloomsbery close</br> DEZ 34D Derby, UK</b> </td>
        <td class="govuk-table__cell muted">Email address: </td>
        <td class="govuk-table__cell"><b>lulabrock@hotmail.com</b> </td>
        <td class="govuk-table__cell muted">Phone number: </td>
        <td class="govuk-table__cell"><b>0732 123 298</b> </td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="work-history">
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Work history</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header app-custom-class">Period</th>
        <th scope="col" class="govuk-table__header app-custom-class">Job</th>
        <th scope="col" class="govuk-table__header app-custom-class">Company</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"> Apr 2019  to Sept 2021</td>
        <td class="govuk-table__cell"><strong>Factory worker</strong><br>Current role</td>
        <td class="govuk-table__cell"><strong>DHL</strong><br> 14, Derby Road<br> NG7 3ER Nottingham</td>
      </tr>
      <tr class="govuk-table__row ">
          <td class="govuk-table__cell absence"> Jan 2017 to Mar 2019 </td>
        <td class="govuk-table__cell absence"><strong>Break in work history</strong><br> Parental leave</td>
        <td class="govuk-table__cell absence"><strong> </strong><br></td>
      </tr>
      <tr class="govuk-table__row">
          <td class="govuk-table__cell"> Apr 2012 to Dec 2016 </td>
        <td class="govuk-table__cell"><strong>Logistic coordinator</strong></td>
        <td class="govuk-table__cell"><strong>Tesco</strong><br> Hornchurch Rd, <br>  Hornchurch RM12 4TE, United Kingdom</td>
      </tr>
      <tr class="govuk-table__row">
          <td class="govuk-table__cell absence">Mar 2013 to Apr 2012 </td>
        <td class="govuk-table__cell absence"><strong>Break in work history</strong></br>Parental Leave</td>
        <td class="govuk-table__cell absence"><strong>Flow Logistic</strong><br> 14, Derby Road<br> Leicester</td>
      </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell "> Mar 2012 to Mar 2013 </td>
        <td class="govuk-table__cell"><strong>Customer Service Delivery Driver</strong></td>
        <td class="govuk-table__cell"><strong>RTF Logistics Limited</strong><br>
      </tr>
      <tr class="govuk-table__row">
          <td class="govuk-table__cell absence"> Jan 2011 to Mar 2012 </td>
          <td class="govuk-table__cell absence"><strong>Break in work history</strong><br> I was unemployed due to personal circumstances</td>
          <td class="govuk-table__cell absence"><strong> </strong><br></td>
      </tr>
      <tr class="govuk-table__row">
          <td class="govuk-table__cell absence"> Jan 2010 to Dec 2010 </td>
          <td class="govuk-table__cell absence"><strong>Break in work history</strong></br> Personal circumstances</td>
          <td class="govuk-table__cell absence"></td>
      </tr>
      </tbody>
  </table>


</div>
</div>
  <div class="column-right">
    <table class="govuk-table">
        <div class="govuk-form-group">
          <h3 class="govuk-heading-m">Application history</h3>
               <p>Add a note</p>

                    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint">The application has a lot of gaps. I contacted 3 companies for cross-reference checks but employers didn't confirm employment.
                     </textarea>
                    <a href="HJK1234567_03.html" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                Save
                    </a>&nbsp;&nbsp;&nbsp;
                    <a href="HJK1234567_01.html" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Cancel
                    </a>


        </div>

        <div class="history-block">
        <p class="govuk-body-s">  08/07/2021 at 10:00 </p>
          <p>Application was received
          </p>
        </div>

    </table>

</div>
<div class="clearfix">
  <div class="outcome">
<form id="data-form" action="/decisionhjk" method="post" novalidate>
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">
       Decision outcome
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input data-url="approved" class="govuk-radios__input" id="contact" name="answer" type="radio" value="approved" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="contact">
          Approve application
        </label>
      </div>
      <div class="govuk-radios__item">
        <input data-url="declined" class="govuk-radios__input" id="contact-2" name="answer" type="radio" value="declined" data-aria-controls="conditional-contact-2">
        <label class="govuk-label govuk-radios__label" for="contact-2">
          Decline application
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-phone">
            Provide a reason
          </label>
          <div class="govuk-form-group">
            <select class="govuk-select" id="sort" name="sort">
                <option value="">Select</option>
                <option value="reason1">Work history contains unexplained gaps</option>
<option value="reason2">Work History does not include sufficient detail of responsibilities</option>
<option value="reason3">Work History does not meet the required levels of experience</option>

            </select>
          </div>
          <br>
          <p>Add feedback for the applicant</p>
                    <textarea class="govuk-textarea govuk-!-width-one-half" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint">
Enter text here</textarea>
      </div>
    </div>

  </fieldset>
  </br> <p><button class="govuk-button" data-module="govuk-button">
    Submit
  </button>
  </p>
  <p> OR</p>
  <p><a href="home2a.html" class="govuk-link">Go back to homepage</a></p>

</div>
</form>
</div>
</div>

{% endblock %}
