{% extends "layout_custom.html" %}

{% block pageTitle %}
  Acquired Rights Portal
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}
<div class="internal-banner">
<ul class="bread">
 <li><a href="#">Home</a></li>
</ul>
</div>

<div class="internal-wrapper">
  <div class="column-left">
    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
      <h3 class="govuk-fieldset__heading">
        Filter by status
      </h3>
    </legend>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          New
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="waste-2">
          Under Consideration
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
          Accepted
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
          Declined
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
        <label class="govuk-label govuk-checkboxes__label" for="waste-3">
          Under Appeal
        </label>
      </div>
    </div>
      </fieldset>
    <hr>
    <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <h3 class="govuk-fieldset__heading">
          Filter by owner
        </h3>
      </legend>
      <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
      <label class="govuk-label govuk-checkboxes__label" for="waste-3">
        Only my applications
      </label>
    </div>
    </fieldset>
  </div>
  <button class="govuk-button" data-module="govuk-button">
    Apply
  </button>



</div>

  </div>
  <div class="column-main">
    <div class="govuk-grid-row">
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--s">30 applications</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class">Application Ref</th>
            <th scope="col" class="govuk-table__header app-custom-class">Applicant name</th>
            <th scope="col" class="govuk-table__header app-custom-class">Application Date</th>
            <th scope="col" class="govuk-table__header app-custom-class">Application status</th>
            <th scope="col" class="govuk-table__header app-custom-class">Status change date</th>
            <th scope="col" class="govuk-table__header app-custom-class">Owner</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="application_details.html">GHI1234567</a></th>
            <td class="govuk-table__cell">Ian Reid</td>
            <td class="govuk-table__cell">07/07/2021</td>
            <td class="govuk-table__cell">New</td>
            <td class="govuk-table__cell">08/07/2021</td>
            <td class="govuk-table__cell">-</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="application_details.html">GHI1234567</a></th>
            <td class="govuk-table__cell">Ian Reid</td>
            <td class="govuk-table__cell">07/07/2021</td>
            <td class="govuk-table__cell">New</td>
            <td class="govuk-table__cell">08/07/2021</td>
            <td class="govuk-table__cell">-</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="application_details.html">GHI1234567</a></th>
            <td class="govuk-table__cell">Ian Reid</td>
            <td class="govuk-table__cell">07/07/2021</td>
            <td class="govuk-table__cell">New</td>
            <td class="govuk-table__cell">08/07/2021</td>
            <td class="govuk-table__cell">-</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="application_details.html">GHI1234567</a></th>
            <td class="govuk-table__cell">Ian Reid</td>
            <td class="govuk-table__cell">07/07/2021</td>
            <td class="govuk-table__cell">New</td>
            <td class="govuk-table__cell">08/07/2021</td>
            <td class="govuk-table__cell">-</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="application_details.html">GHI1234567</a></th>
            <td class="govuk-table__cell">Ian Reid</td>
            <td class="govuk-table__cell">07/07/2021</td>
            <td class="govuk-table__cell">New</td>
            <td class="govuk-table__cell">08/07/2021</td>
            <td class="govuk-table__cell">-</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="application_details.html">GHI1234567</a></th>
            <td class="govuk-table__cell">Ian Reid</td>
            <td class="govuk-table__cell">07/07/2021</td>
            <td class="govuk-table__cell">New</td>
            <td class="govuk-table__cell">08/07/2021</td>
            <td class="govuk-table__cell">-</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="application_details.html">GHI1234567</a></th>
            <td class="govuk-table__cell">Ian Reid</td>
            <td class="govuk-table__cell">07/07/2021</td>
            <td class="govuk-table__cell">New</td>
            <td class="govuk-table__cell">08/07/2021</td>
            <td class="govuk-table__cell">-</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="application_details.html">GHI1234567</a></th>
            <td class="govuk-table__cell">Ian Reid</td>
            <td class="govuk-table__cell">07/07/2021</td>
            <td class="govuk-table__cell">New</td>
            <td class="govuk-table__cell">08/07/2021</td>
            <td class="govuk-table__cell">-</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="application_details.html">GHI1234567</a></th>
            <td class="govuk-table__cell">Ian Reid</td>
            <td class="govuk-table__cell">07/07/2021</td>
            <td class="govuk-table__cell">New</td>
            <td class="govuk-table__cell">08/07/2021</td>
            <td class="govuk-table__cell">-</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="application_details.html">GHI1234567</a></th>
            <td class="govuk-table__cell">Ian Reid</td>
            <td class="govuk-table__cell">07/07/2021</td>
            <td class="govuk-table__cell">New</td>
            <td class="govuk-table__cell">08/07/2021</td>
            <td class="govuk-table__cell">-</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="application_details.html">GHI1234567</a></th>
            <td class="govuk-table__cell">Ian Reid</td>
            <td class="govuk-table__cell">07/07/2021</td>
            <td class="govuk-table__cell">New</td>
            <td class="govuk-table__cell">08/07/2021</td>
            <td class="govuk-table__cell">-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
