{% extends "layout.html" %}

{% block pageTitle %}
  Acquired Rights Portal
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}
<div class="internal-banner">
<ul class="bread">
 <li><a href="#">Home</a></li>
</ul>
<div class="search">
  <input class="govuk-input govuk-input--width-30 inputfloat" id="width-30" name="width-30" type="text" placeholder="Search by application number or applicant name">
  &nbsp;<button class="govuk-button" data-module="govuk-button">
    Search
  </button>
</div>
<div class="clearfix"></div>
</div>

<div class="internal-wrapper">
  <div class="tophead">
<h1 class="govuk-heading-l title">9 applications</h1>
</div>
  <div class="column-main">

      <table class="govuk-table framed">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class">Application Ref</th>
            <th scope="col" class="govuk-table__header app-custom-class">Applicant name</th>
            <th scope="col" class="govuk-table__header app-custom-class">Application Date</th>
            <th scope="col" class="govuk-table__header app-custom-class">Application status</th>
            <th scope="col" class="govuk-table__header app-custom-class">Status change date</th>
            <th scope="col" class="govuk-table__header app-custom-class">Owner</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="approved.html">GHI1234567</a></th>
            <td class="govuk-table__cell">Ian Reid</td>
            <td class="govuk-table__cell">07/07/2021</td>
            <td class="govuk-table__cell">Approved</td>
            <td class="govuk-table__cell">12/08/2021</td>
            <td class="govuk-table__cell">Lauren Hall</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="GHI1234567.html">HJK1234567</a></th>
            <td class="govuk-table__cell">Lula Brock</td>
            <td class="govuk-table__cell">08/07/2021</td>
            <td class="govuk-table__cell">New</td>
            <td class="govuk-table__cell">08/07/2021</td>
            <td class="govuk-table__cell">-</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="GHI1234567.html">JKL1234567</a></th>
            <td class="govuk-table__cell">Ann Delgado</td>
            <td class="govuk-table__cell">09/07/2021</td>
            <td class="govuk-table__cell">New</td>
            <td class="govuk-table__cell">08/07/2021</td>
            <td class="govuk-table__cell">-</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="GHI1234567.html">KLM1234567</a></th>
            <td class="govuk-table__cell">Joe Blogg</td>
            <td class="govuk-table__cell">10/07/2021</td>
            <td class="govuk-table__cell">New</td>
            <td class="govuk-table__cell">08/07/2021</td>
            <td class="govuk-table__cell">-</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="GHI1234567.html">LMN1234567</a></th>
            <td class="govuk-table__cell">Michaella Price</td>
            <td class="govuk-table__cell">11/07/2021</td>
            <td class="govuk-table__cell">New</td>
            <td class="govuk-table__cell">08/07/2021</td>
            <td class="govuk-table__cell">-</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="GHI1234567.html">CXZ1234567</a></th>
            <td class="govuk-table__cell">Brett Cross</td>
            <td class="govuk-table__cell">07/07/2021</td>
            <td class="govuk-table__cell">Under Consideration</td>
            <td class="govuk-table__cell">08/07/2021</td>
            <td class="govuk-table__cell">Lauren Hall</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="GHI1234567.html">VCX1234567</a></th>
            <td class="govuk-table__cell">Adele Jennings</td>
            <td class="govuk-table__cell">09/06/2021</td>
            <td class="govuk-table__cell">Under Appeal</td>
            <td class="govuk-table__cell">08/07/2021</td>
            <td class="govuk-table__cell">Authorised Appeal user</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="GHI1234567.html">MNB1234567</a></th>
            <td class="govuk-table__cell">Adrian Frazier</td>
            <td class="govuk-table__cell">07/06/2021</td>
            <td class="govuk-table__cell">Approved</td>
            <td class="govuk-table__cell">08/07/2021</td>
            <td class="govuk-table__cell">Joe Biggs</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a href="GHI1234567.html">NBV1234567</a></th>
            <td class="govuk-table__cell">Pearl Stevenson</td>
            <td class="govuk-table__cell">08/06/2021</td>
            <td class="govuk-table__cell">Declined</td>
            <td class="govuk-table__cell">08/07/2021</td>
            <td class="govuk-table__cell">Lauren Hall</td>
          </tr>


        </tbody>
      </table>

  </div>
  <div class="column-left">
      <hr>
    <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h3 class="govuk-fieldset__heading">
                  Filter by status
                </h3>
              </legend>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                  <label class="govuk-label govuk-checkboxes__label" for="waste">
                    New
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                    Under Consideration
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                    Under Appeal
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                    Accepted
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                    Declined
                  </label>
                </div>
              </div>
                </fieldset>
      </div>
        <hr>
      <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h3 class="govuk-fieldset__heading">
                    Filter by owner
                  </h3>
                </legend>
                <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                  Only my applications
                </label>
              </div>
              </fieldset>
      </div>
  <button class="govuk-button" data-module="govuk-button">
    Apply filters
  </button>&nbsp; &nbsp;  &nbsp;
  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Reset
  </button>




</div>

  </div>
</div>
{% endblock %}
