{% extends "layout.html" %}

{% block pageTitle %}
  Acquired Rights Portal
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}
<div class="internal-banner">
<ul class="bread">
 <li><a href="index.html">Home</a></li>
</ul>
<div class="search">
  <input class="govuk-input govuk-input--width-30 inputfloat" id="width-30" name="width-30" type="text" placeholder="Search by application number or applicant name">
  &nbsp;<button class="govuk-button" data-module="govuk-button">
    Search
  </button>
</div>
<div class="clearfix"></div>
</div>

<div class="internal-wrapper">
  <div class="tophead">

  <p class="download right ">
    <a href="">Download</a>
  </p>

</div>
  <div class="column-main">

      <table class="govuk-table framed">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header app-custom-class">Application Ref</th>
            <th scope="col" class="govuk-table__header app-custom-class">Applicant name</th>
            <th scope="col" class="govuk-table__header app-custom-class">Application Date</th>
            <th scope="col" class="govuk-table__header app-custom-class">Application status</th>
            <th scope="col" class="govuk-table__header app-custom-class">Status change date</th>
            <th scope="col" class="govuk-table__header app-custom-class">Owner</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">GHI1234567</th>
            <td class="govuk-table__cell">Ian Reid</td>
            <td class="govuk-table__cell">07/07/2021 at 09:00</td>
            <td class="govuk-table__cell">New</td>
            <td class="govuk-table__cell">08/07/2021 at 10:00</td>
            <td class="govuk-table__cell">-</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">HJK1234567</th>
            <td class="govuk-table__cell">Lula Brock</td>
            <td class="govuk-table__cell">08/07/2021 at 10:00</td>
            <td class="govuk-table__cell">New</td>
            <td class="govuk-table__cell">08/07/2021 at 10:00</td>
            <td class="govuk-table__cell">-</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">JKL1234567</th>
            <td class="govuk-table__cell">Ann Delgado</td>
            <td class="govuk-table__cell">09/07/2021 at 08:20</td>
            <td class="govuk-table__cell">New</td>
            <td class="govuk-table__cell">08/07/2021 at 10:00</td>
            <td class="govuk-table__cell">-</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">KLM1234567</th>
            <td class="govuk-table__cell">Joe Blogg</td>
            <td class="govuk-table__cell">10/07/2021 at 16:20</td>
            <td class="govuk-table__cell">New</td>
            <td class="govuk-table__cell">08/07/2021 at 10:00</td>
            <td class="govuk-table__cell">-</td>
          </tr>
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">LMN1234567</th>
            <td class="govuk-table__cell">Michaella Price</td>
            <td class="govuk-table__cell">11/07/2021 at 18:20</td>
            <td class="govuk-table__cell">New</td>
            <td class="govuk-table__cell">08/07/2021 at 10:00</td>
            <td class="govuk-table__cell">-</td>
          </tr>



        </tbody>
      </table>

  </div>
  <div class="column-left">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
  Selected filters</legend>
    <p>status:</p>
      <p><span style="background:#efefee; padding:8px" > New</span></p>
      <hr>
      <form id="data-form" action="/home-filter" method="post" novalidate>
  <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                <h3 class="govuk-fieldset__heading">
                  Filter by status
                </h3>
              </legend>
              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste" name="choice" type="checkbox" value="new" checked>
                  <label class="govuk-label govuk-checkboxes__label" for="choice">
                    New
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-2" name="choice" type="checkbox" value="uc">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                    Under Consideration
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-3" name="choice" type="checkbox" value="ua">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                    Under Appeal
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-3" name="choice" type="checkbox" value="approved">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                    Approved
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-3" name="choice" type="checkbox" value="approved_appeal">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                    Approved (after appeal)
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-3" name="choice" type="checkbox" value="declined">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                    Declined
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="waste-3" name="choice" type="checkbox" value="declined_appeal">
                  <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                    Declined (after appeal)
                  </label>
                </div>
              </div>
                </fieldset>
      </div>
        <hr>
      <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                  <h3 class="govuk-fieldset__heading">
                    Filter by owner
                  </h3>
                </legend>
                <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste-3" name="choice" type="checkbox" value="mine">
                <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                  Only my applications
                </label>
              </div>
              </fieldset>
      </div>
  <button class="govuk-button" data-module="govuk-button">
    Apply filters
  </button>&nbsp; &nbsp;  &nbsp;
  <a href="home-filter.html" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Reset
  </a>

</div>

  </div>
{% endblock %}
