{% extends "layout_empty.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="internal-wrapper">
<div class="column-main-left">

      <h1 class="govuk-heading-xl">
         Prototype v0.1</h1>
<h3 class="govuk-heading-m"> This prototype simulate 3 journeys  to be taken by Acquired Rights internal portal users</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="home.html">Case worker main journey</a><br> <u>User: </u><b>Case worker</b><br> On this journey the case worker assigns themselves to an application, take notes and submit decision outcome.
    <br><br>  </li>
          <li>  <a href="home_appeal.html">Appeal journey</a><br> <u>User:</u> <b>Authorised Appeal user</b><br>  On this journey an authorised Appeal user can  assign themselves to a declined application that has been appeal and submit a decision outcome.
        <br><br>  </li>
        <li>  <a href="home_reassign.html">Reassigning application journey</a><br><u> User:</u> <b>Case worker</b><br> On this journey a case worker can reassign an application owned by a colleague to themselves.
<br><br></li>


      </ul>

  </div>
</div>

{% endblock %}
